<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="TelnetConfigPort" value="23"/>
    <add key="RedirectRuleConfigFile" value="RedirectRuleConfig.xml"/>
    <add key="Debug" value="false"/>
  </appSettings>

  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="Rubicon.ReverseProxy.TraceListener"
          type="System.Diagnostics.EventLogTraceListener"
          initializeData="Rubicon.ReverseProxy" />
      </listeners>
    </trace>
  </system.diagnostics>
  
</configuration>